$background_color: #ffffff;
$primary_color: #93ac2c;
$secondary_color: #6c8114;
$highlight_color: #f2f2f2;
$accent_color: #49590b;
$text_color: #606060;

$header_background: #000000;
$header_primary: #ffffff;
$header_secondary: #93ac2c;
$header_highlight: #6c8114;
$header_accent: #484848;

$footer_background: #d6d6d6;
$footer_primary: #333333;
$footer_secondary: #49590b;
$footer_highlight: #93ac2c;
$footer_accent: #1C1B1B;

$perlemedia_gradient:linear-gradient(98deg, $primary_color 0%, $secondary_color 100%);

