$primary_font: 'Open Sans', sans-serif;
$secondary_font: Helvetica, serif;

$letter_spacing: .1em;

$text_huge: 2.815rem;
$text_big: 2.3125rem;
$text_highlight: 1.75rem;
$text_standard: 1rem;
$text_small: .875rem;