/**
 * Front Page
 */
#content.front-page{
    
    #frontpage-slides{
        margin-top:-104px;
        height:80vh;
        position:relative;
        background:black;
        img.background{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            object-fit: cover;
            opacity:.75;
        }
        .slide-content{
            z-index:1;
            width:$container_max_width;
            padding:50px;
            margin:0 auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            box-sizing: border-box;
            img{
                max-height:94px;
                margin-bottom:20px;
            }
            h2,
            p,
            .button{
                color:white;
                margin-bottom:20px;
                margin-top:0;
            }
            p{
                text-align: center;
                font-weight:1;
                font-family:$secondary_font;
                font-size:1.5625rem;
            }
            .button{
                background-color:$primary_color;
                width:271px;
                height:45px;
                text-align: center;
                padding:0;
                line-height:45px;
                font-family:$primary_font;
                font-weight:100;
                font-size:20px;
                text-transform:uppercase;
                border-radius:3px;
                border:1px solid white;
                &:hover{
                    background-color:$secondary_color;
                }
                svg{
                    margin-right:5px;
                }
                
            }
        }
    }

    #frontpage-intro{
        text-align: center;
        h1{
            color:$primary_color;
        }
    }

    #services{
        padding-top:0;
        .site-container{
            --gap:50px;
            column-gap:var(--gap);
            .featured-service{
                text-align: center;
                width:calc(50% - (var(--gap) / 2));
                padding-bottom:30px;
                a.image{
                    position:relative;
                    display:block;
                    height:0;
                    padding-top:56.25%;
                    width:100%;
                    background-color: $secondary_color;
                    border-radius:5px;
                    box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
                    overflow: hidden;
                    img{
                        position:absolute;
                        top:0;
                        left:0;
                        height:100%;
                        width:100%;
                        object-fit: cover;
                        transition:$transition;
                        &:hover{
                            transition:$transition;
                            opacity:.5;
                        }
                    }
                }
                h4{
                    font-size:1.125em;
                    text-transform:uppercase;
                    color:$secondary_color;
                    font-weight: 400;
                    margin:40px 0 20px;
                }
                p{
                    padding-bottom:20px;
                }
            }
        }
        
    }

    #about{
        background-color: $highlight_color;
        .content-wrapper{
            --gap:40px;
            column-gap:var(--gap);
            .column{
                
                &:first-child{
                    width:calc(60% - (var(--gap) / 2));
                }
                &:last-child{
                    width:calc(40% - (var(--gap) / 2));
                }
            }
            
            
        }
    }

    #contact-cta{ 
        background-color: $primary_color;
        padding:20px 0;
        .site-container{
            flex-wrap:nowrap;
            --gap:40px;
            column-gap:var(--gap);
            .callout{
                width:75%;
                p{
                    color:white;
                    text-align: center;
                    font-size: 1.125rem;
                }
            }
            .callout-button{
                width:25%;
                text-align: center;
                .button{
                    background-color: white;
                    color:$primary_color;
                    font-weight: 700;
                    border-radius:3px;
                    border:2px solid transparent;
                    padding: 30px 0;
                    font-size: 1.125rem;
                    svg{
                        fill:$primary_color;
                        transition:$transition;
                    }
                    &:hover{
                        border:2px solid rgba(255,255,255,.5);
                        color:white;
                        background-color: transparent;
                        svg{
                            fill:white;
                            transition:$transition;
                        }
                    }
                }
            }
            
        }
       
    }

    #affiliates{
        .affiliate-wrapper{
            justify-content: center;
            column-gap:10px;
            img{
                max-width:20%;
            }
        }
    }
    
    @media (min-width:$container_max_width){

    }
    @media (max-width:$query_lgscreen){
    
    }
    @media (max-width:$query_laptop){
    
    }
    @media (max-width:$query_tablet){
        #frontpage-slides{
            margin-top:-104px;
            height:80vh;
            position:relative;
            background:black;
            padding:10px;
            img.background{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                object-fit: cover;
                opacity:.75;
            }
            .slide-content{
                padding:0;
                h2{
                    line-height:1.2em;
                    text-align: center;
                }
                p{
                    font-size:$text_standard;
                    font-weight: 400;
                }
            }
        }

        #frontpage-intro{
            h3.tagline{
                font-weight:400;
            }
        }

        #services{
            .site-container{
                column-gap:0;
                .featured-service{
                    width:100%;
                    h4{
                        margin:20px;
                    }
                }
            }
            
        }

        #contact-cta{ 
            .site-container{
                flex-wrap:wrap;
                column-gap:0;
                .callout{
                    width:100%;
                    
                }
                .callout-button{
                    width:100%;
                    
                }
                
            }
           
        }
    
    }
    @media (max-width:$query_mobile){
        #about{
            .content-wrapper{
                column-gap:0;
                .column{
                    width:100%!important;

                }
                
                
            }
        }

        #affiliates{
            .affiliate-wrapper{
                column-gap:0;
                img{
                    max-width:50%;
                }
            }
        }
    }
}

