/**
 * Global
 */

.grecaptcha-badge{
   display:none;
}

*{
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
} 

body.admin-bar header#header{
    margin-top:30px;
}

main#content{
    background:$background_color;
    margin-top:150px;
    z-index: 1;
    section,
    .section-padding{
        padding:40px 0;
    }
}

.site-container{
    max-width:$container_max_width;
    padding:0 $container_padding;
    margin:0 auto!important;
    width:100%;
    box-sizing: border-box;
    .fullwidth-row{
        width:100vw;
        margin-left:calc((((100vw - #{$container_max_width}) / 2) + #{$container_padding}) * -1);
    }
    /* Custom styles for windows and doors page */
    .windows-doors{
        .wp-block-columns{
            column-gap:0;
            .wp-block-column{
                padding:$container_padding;
                display: flex;
                flex-direction: column;
                & p{
                    line-height:1.5em;
                }
                .align-bottom{
                    margin-top:auto;
                }
            }
        }
    }
    /* Custom styles for Google Map Embed */
    iframe.google-maps{
        width:100%;
    }
}

p{
    color:$text_color;
}

a{
    color:$primary_color;
    transition:all $transition;

    &:hover{
        color:$secondary_color;
    }
}

.primary, .has-primary-color{
    color:$primary_color;
}

.secondary, .has-secondary-color{
    color:$secondary_color;
}

.highlight, .has-highlight-color{
    color:$highlight_color;
}

.accent, .has-accent-background-color{
    background-color:$accent_color;
}

.has-primary-background-color{
    background-color:$primary_color;
}

.has-secondary-background-color{
    background-color:$secondary_color;
}

.has-highlight-background-color{
    background-color:$highlight_color;
}

.has-accent-color{
    color:$accent_color;
}

.split-line {
    overflow: hidden;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary_color;
    height:50px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    &.full-width{
        width:100%;
    }
    svg{
        margin-right:5px;
    }
    &:hover{
        color:white;
        background-color: $primary_color;
    }
}

ul.icon{
    li{
        list-style-type: none;
        position: relative;
        &::before{
            content: '';
            background-image: url(./images/bullet-arrow.svg);
            background-size: cover;
            width: 20px;
            height: 17px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -40px;
        }
    }
}

hr.wp-block-separator{
    margin: 1.5em 0 .5em;
    border-top: 1px solid;
}

@media (max-width:$container_max_width){
    .site-container{
        .fullwidth-row{
            margin-left:(calc(-1 * #{$container_padding}));
            left:0;
        }
    }
    
}
@media (max-width:$query_lgscreen){

}
@media (max-width:$query_laptop){

}
@media (max-width:$query_tablet){
    html{
        font-size:20px;
    }
    #page{
        overflow-x:clip;
        &.overlay-active{
            max-height:100vh;
            height:100vh;
            overflow:hidden;
            header#header{
                .site-container{
                    #site-branding{
                        opacity:0;
                        z-index:-1;
                        transition:$transition;
                    }
                    #site-navigation{
                        .menu-main-navigation-container{
                            top:50vh;
                        }
                    }
                }
            }
        }
    }
    
}
@media (max-width:$query_mobile){
    ul.icon{
        margin:0;
    }
}